body {
    margin: 0;
    background-image: url(../img/background6.png);
    background-attachment: fixed;
}

/*Меню*/
nav {
    width: 100%;
}
.top_menu{
    margin: 0;
    padding: 0;
    background-color: orange;
    list-style-type: none;
}
.top_menu > li {
    display: inline-block;
}
.top_menu a {
    display: block;
    text-decoration: none;
    width: 80px;
    line-height: 35px;
    text-align: center;
    color: red;
    border-bottom: 3px solid transparent;
}
.top_menu > li > ul {
    display: none;
}
.top_menu #active {
    border-bottom: 3px solid red;
}

/*Основное содержимое*/
.container {
    max-width: 412px;
    margin: auto;
}

.container h1 {
    text-align: center;
}
.container img {
    max-width: 400px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
.container .button {
    display: block;
    width: 100%;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: red;
    background-color: orange;
    border-radius: 5px;
}

/*Пагинация*/
.paginator {
    margin: 40px auto;
    width: 80%;
}
.paginator a {
    display: inline-block;
    width: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    margin: 0 2px;
}
.paginator #active_page {
    background-color: orange;
}